<details>
    <summary><%= link_to applying.candidate.name, user_path(applying.candidate), class: "font-bold" %> applied the <span class="font-bold">job message <%= applying.message_id %></span> [...]</summary>
    <p class="border-l-4 border-gray-300 text-xs ml-5 pl-1"><%= applying.intro %></p>
</details>