
<div class="py-2 bg-zinc-100">
    <div class="container mx-auto px-6" data-controller="message">
        <p class="font-bold underline underline-offset-4 mb-1">Messages</p>

        <%= button_to "#public", query_messages_path(tag: "#public"),
            id: "tag_public",
            class: "w-full text-left hover:bg-green-200",
            "data-action": "click->message#selectTag",
            form: { 
                id: "form_public",
            } %>

        <%= button_to "#private", query_messages_path(tag: "#private"),
            id: "tag_private",
            class: "w-full text-left hover:bg-green-200",
            "data-action": "click->message#selectTag",
            form: { 
                id: "form_private",
            } %>

        <hr class="my-1">

        <%= turbo_stream_from :tags %>

        <% @tags.each do |(tag, count)| %>
            <% view_id = "tag_#{tag.gsub('#', '')}" %>
            <%= button_to "#{tag}#{count.to_i > 0 ? "(#{count})" : ''}", query_messages_path(tag: tag),
                id: view_id,
                class: "w-full text-left hover:bg-green-200", 
                "data-action": "click->message#selectTag",
                form: { 
                    id: "form_#{view_id}",
                } %>
        <% end %>
    </div>
</div>