
<div class="py-2 bg-zinc-100">
    <div class="container mx-auto px-6" data-controller="message">
        <p class="font-bold">Recently Messages</p>
        <% @tags.each do |(tag, count)| %>
            <%= button_to "#{tag}(#{count})", query_messages_path(tag: tag), 
                class: "hover:font-bold #{tag == '#all' ? 'font-bold' : ''}", 
                "data-action": "click->message#selectTag",
                "data-message-target": "#{tag == '#all' ? 'selectedTag' : 'unselectedTag'}" %>
        <% end %>
    </div>
</div>