<div class="py-2 bg-zinc-100">
    <div class="container mx-auto px-6" data-controller="message">
        <p class="font-bold">Messages</p>
        <p data-action="click->message#recently" class="hover:cursor-pointer hover:bg-green-300">recently</p>
        <%= link_to "#ruby(6)", messages_path %>
        <p>#js(4)</p>
    </div>
</div>