<%= turbo_frame_tag "home-content", class: "w-full p-5" do %>
  <div class="w-full sm:w-2/3 rounded-md border border-gray-200 m-2 p-2 sm:m-5 sm:p-5 text-xs">
    <p class="text-base">Edit <b>Job<%= @message.id %></b></p>
    <%= render "form", message: @message %>
  </div>
<% end %>
