<%= render "layouts/modal", width: "", close: true do %>
  <div id="auth-containter" class="flex flex-col items-center">
    <h2 class="font-bold mb-5">Sign In</h2>
    <% @social_support.each do |social| %>
      <%= render partial: "sessions/#{social}" %>
    <% end %>
  </div>
<% end %>