<div class="w-full flex justify-start">
    <%= user_card_tag owner, class: "font-bold" %>
    <span class="mx-1">canceled the</span> 
    <%= interview_link_tag interview %>
</div>

<% if (interviewers = interview.interviewers).present? %>
  <%= render partial: "replies/cc", locals: {users: interviewers} %>
<% end %>