<%= turbo_frame_tag "reply-#{applying.id}" do %>
    <p class="p-1 border-l-4 border-gray-300 text-blue-600 text-xs"><%= link_to "reply", new_applying_reply_path(applying), data: {"turbo-frame": "reply"} %></p>
<% end %>