<div class="w-full flex justify-start">
    <div>I created an</div> 
    <div class="px-1 font-bold text-blue-600" data-controller="card" data-action="mouseenter->card#show mouseleave->card#hide mousedown->card#hide" data-card-url-value="<%= card_interview_path(interview) %>">
        <%= button_to "interview##{index}", calendar_path(display: :daily, date: date) %>
    </div>
    <div>for you. Good Luck!</div>
</div>