<div class="py-2 bg-zinc-100">
    <div class="container pl-4 pr-1 pb-2">
        <p class="font-bold underline underline-offset-4 mb-2">Interviews</p>
        <%= render partial: "interviews/mini_calendar" %>
    </div>
</div>