<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing interview</h1>

  <%= render "form", interview: @interview %>

  <%= link_to "Show this interview", @interview, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to interviews", interviews_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
