<div class="w-full h-9 flex justify-start border-b border-gray-300 m-5">
    <a href="/"><span class="font-bold"><\ interview ></span> Channel</a> 
    <h1 class="mx-1 font-bold text-xl">DashBoard</h1>
</div>