<% if user_signed_in? %>
    <div class="py-5 bg-zinc-100 my-3">
        <div class="container mx-auto px-6">
            <h3 class="bg-zinc-50"><b><%= current_user.name %></b></h3>
        </div>
    </div>
<% end %>