<div id="flash" class="<%= local_assigns[:css] || 'absolute top-3 right-0 z-50 pl-5 pr-10 py-2 shadow-xl drop-shadow-2xl border-y-2 border-l-2 border-gray-300 bg-white' %>"
    data-controller="flash" data-flash-target="flashView" data-action="click->flash#hide">
    <% if tag = local_assigns[:tag] %>
        <%= button_to content, query_messages_path(tag: tag), class: "text-xs" %>
    <% else %>
        <%= content %>
    <% end %>
</div>