<div class="border-2 border-gray-300 rounded-md pl-1 mr-1 flex justify-between items-center">
    <input type="hidden" name="<%= name %>" value="<%= value %>">
    <span><%= display %></span>
    <span class="text-center text-xs px-1 hover:rounded-full hover:bg-red-200 hover:cursor-pointer" data-action="click->select7#removeTag">x</span>
</div>