<div class="w-full m-5">
  <div class="w-full flex justify-between">
    <h1><b><\ interview ></b> Channel</h1>
    <% if user_signed_in? %>
      <div><%= link_to 'sign out', '/sign_out', class: "bg-emerald-500 hover:bg-emerald-600 rounded-md p-1 text-xs" %></div>
    <% else %>
      <%= button_to 'Sign in with Github', '/auth/github', method: :post, data: {turbo: "false"}, class: "bg-emerald-500 hover:bg-emerald-600 rounded-md p-1 text-xs" %>
    <% end %>
  </div>
  <div class="w-full mt-10">
  <% if user_signed_in? %>
    <h3 class="bg-zinc-50">Welcome <b><%= current_user.name %> !</b></h3>
  <% end %>
  </div>
</div>
