<%= turbo_frame_tag contacts_list_frame_id(user) do %>
  <% if contacts.size > 0 %>
    <%= render contacts %>

    <% if loadmore %>
      <%= turbo_frame_tag "load_more_contacts" do %>
        <%= button_to "load more", paging_contacts_path(offset: contacts.size), class: "text-xs text-blue-600" %>
      <% end %>
    <% end %>
  <% else %>
    <p>No contacts.</p>
  <% end %>
<% end %>
