<%= turbo_frame_tag contacts_list_frame_id(user) do %>
  <% if contacts.size > 0 %>
    <%= render contacts %>

    <% if next_offset %>
      <%= render partial: "contacts/loadmore", locals: {next_offset: next_offset} %>
    <% end %>
  <% else %>
    <p>No contacts.</p>
  <% end %>
<% end %>
