[data-tooltip-arrow]::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 1rem;
    border-width: 0.5rem;
    border-color: white transparent transparent transparent;
}

@for $i from 0 through 100 {
    .top_#{$i} {
        top: $i * 1%;
    }
}

@for $i from 0 through 240 {
    .h_#{$i} {
        height: $i * 0.25rem;
    }
}

.red_tag {
    background-color: rgb(254, 202, 202);
    border-color: rgb(239, 68, 68);
    border-width: 2px;
}