 /* for block of numbers */
 .hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}

.input-transparent {
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  box-shadow: none !important;
  width: 700px;
  height: 500px !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-left: 0px;
  caret-color: red;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-size: 1em !important;
  line-height: inherit;
  padding-left: 1em;
  padding-top: 1em;
  overflow: -moz-hidden-unscrollable;
}

.code-editor {
  margin-top: 10px;
  width: 700px;
  height: 500px;
  position: relative;
  overflow: -moz-hidden-unscrollable;
  border-width: 3px;
  border-color: #f3f3f3;
}

.code-hl {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
}