<div class="py-20 bg-zinc-50">
    <div class="container mx-auto px-6">
        <h2 class="text-2xl font-bold">
            Where the interviewers and candidates feel like
        </h2>
        <h2 class="text-2xl font-bold mb-2">
            in a peer-programming !!!
        </h2>
        <h3 class="text-xl mb-8 text-gray-900">
            Let's make comfortable and interactive interviews :x
        </h3>
        <%= button_to "Try it", '/auth/github', method: :post, data: {turbo: "false"}, class: "bg-emerald-500 hover:bg-emerald-600 rounded-md px-2 text-xl" %>
    </div>
</div>